@media (min-width: 1024px) {
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  background-color: #1f1f1f;
  color: white;
  border: 1px none;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
}

header p {
  margin: 0 5px;
  padding: 10px;
}

.top {
  display: flex;
  font-size: 0.8rem;
  margin: 0 5px;
  padding: 10px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0 5px;
  padding: 10px;
}

#top-1a {
  margin-top: 10px;
  border: 1px;
  background-color: #5cedd0;
  border-radius: 10px;
  height: fit-content;
  margin-right: 1rem;
  font-weight: 900;
}
.menu-icon {
  display: none;
  width: 25px;
  cursor: pointer;
}

nav li {
  padding: 10px;
  margin: 0 5px;
}

nav a:active {
  color: #d1ff99;
}

nav li a {
  text-decoration: none;
  color: white;
}

.nav-bar {
  display: block;
  width: 10rem;
  text-align: center;
}

/*home section*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  min-height: 100vh;
  gap: 0.5rem;
  position: relative;
  z-index: 1;
}
html {
  scroll-behavior: smooth;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(7, 7, 17, 0.5)),
    url("img/hero-image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
}

.hero-1 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}

#hero-1i {
  color: #d1ff99;
}

.hero-1 span {
  display: block;
}

.hero-1a {
  color: white;
}

#hero-1b {
  background-color: #5cedd0;
  height: 40px;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border-style: none;
}

/*about section*/
#about {
  border: 1px solid;
  border: 1px none #ddd;
  background-color: #262626;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  height: auto;
}

.hero-2 {
  display: flex;
  flex-direction: row;
  margin: 50px 50px auto;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  border: 1px none #ddd;
  border-radius: 10px;
  height: 80vh;
  background-color: #d1ff99;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-2 img {
  width: 100%;
  border-radius: 8px;
  max-width: 1024px;
}

.hero-2i {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-2i h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

/*program section*/
#programs {
  color: white;
  height: fit-content;
  background-color: #1f1f1f;
  padding: 80px 20px;
}

.section-line {
  width: 50px;
  height: 3px;
  background: linear-gradient(to right, #5cedd0, #d1ff99);
  margin-bottom: 30px;
  border-radius: 5px;
}

.section-divider {
  width: 70%;
  height: 1px;
  background-color: #bdbdbd;
  opacity: 0.1;
}

.hero-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1300px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 2.5rem;
  height: auto;
}

.hero-3i {
  margin-left: 3rem;
}

.hero-3 img {
  width: 80%;
  border-radius: 8px;
}

.hero-3a {
  border: 1px none #ddd;
  border-radius: 10px;
  background: linear-gradient(to bottom, #5cedd0, #d1ff99, #262626);
  padding: 5%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.hero-3b {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  color: #262626;
}

.hero-3c {
  margin-top: 0.5rem;
  font-size: 1rem;
}
/*gallery section*/
#gallery {
  background-color: #262626;
  color: white;
  height: 100vh;
}

.hero-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
  margin-top: 2rem;
  gap: 2em;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  height: auto;
}

.hero-4i {
  margin: 3rem;
}
.hero-4ii {
  color: #d1ff99;
}

.hero-4a {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.hero-4 img {
  width: 100%;
  border-radius: 10px;
  border-color: #ff7f1f;
}

/*trainer section*/
#trainers {
  background-color: #1f1f1f;
  color: white;
}

.hero-5 {
  margin: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.hero-5a {
  border: 1px none #ddd;
  border-radius: 10px;
  background: linear-gradient(to bottom, #5cedd0, #262626, #d1ff99);
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-5a img {
  width: 100%;
  border-radius: 10px;
}

.hero-5b {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
}
/*membership section*/
#Membership {
  background-color: #262626;
  color: white;
}

.hero-6 {
  display: flex;
  gap: 5rem;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

.hero-6a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #262626;
  border: 1px none #ddd;
  border-radius: 10px;
  background-color: #d1ff99;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.hero-6a button {
  background-color: #5cedd0;
  border-radius: 10px;
  border-style: none;
  color: white;
  margin: 10px auto;
  width: 50%;
  height: 30px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/*testimonials section*/
#testimonials {
  background-color: #1f1f1f;
  color: white;
  height: fit-content;
}

.hero-7 {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.hero-7a {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #262626;
  border: 1px none #ddd;
  border-radius: 10px;
  background-color: #d1ff99;
  padding: 20px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 20%;
  margin-bottom: 5rem;
}

.hero-7b {
  display: flex;
  gap: 1.5rem;
  overflow: hidden;
  align-items: center;
}

.hero-7b img {
  height: 40px;
  width: 20%;
  border-radius: 100%;
  overflow: hidden;
}

/*contact section*/
#Contact {
  background-color: #262626;
  color: white;
}

.hero-8 {
  display: flex;
  flex-direction: row;
  margin: 50px 50px auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.contact item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero-8a {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 51rem;
}

.hero-8ai img {
  width: 30rem;
  border-radius: 10px;
}

.hero-8b {
  display: flex;
  gap: 1rem;
}
.hero-8bi {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 1px none #ddd;
  border-radius: 10px;
  background-color: #d1ff99;
  color: #262626;
  padding: 20px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
  margin-bottom: 5rem;
}

/*form part*/
.hero-8c {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px none #ddd;
  border-radius: 10px;
  background-color: #d1ff99;
  padding: 20px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 40rem;
  max-width: 500px;
  margin-bottom: 5rem;
}
label {
  display: block;
  color: #262626;
}
.hero-8d {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero-8d input {
  height: 2rem;
  width: 100%;
  border-color: #5cedd0;
}
.hero-8d::placeholder {
  color: #ddd;
  margin-left: 4rem;
  text-align: center;
}
#hero-8di {
  width: 30%;
  height: 2rem;
  border-style: none;
  background-color: #5cedd0;
  color: white;
  border-radius: 10px;
}
#message {
  height: 10rem;
  border-color: #5cedd0;
}
#contact-sub-head {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
/*footer*/
footer {
  background-color: #1f1f1f;
  color: white;
}
.hero-9 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 20px;
  max-width: 1300px;
  margin: 0 auto;
  height: auto;
  min-height: fit-content;
  padding-bottom: 40px; /* give space for last text */
}
.hero-9a {
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero-9a-item {
  display: flex;
  gap: 10px;
}
.hero-9a a {
  text-decoration: none;
  color: #ffffff;
}
.hero-9a a:active {
  color: #ff7f1f;
}
.hero-9b {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.hero-9c {
  display: flex;
  gap: 0.5rem;
}
}

/*phone responsiveness*/
@media (max-width: 767px) {
  .hero-6,
  .hero-7,
  .hero-5 {
    flex-direction: column;
  }
  .hero-2 {
    flex-direction: column;
    height: auto;
    gap: 10px;
    width: 100%;
    margin-left: 0px;
  }

  .hero-9 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
  }
  .hero-9 > div {
    flex: 1 0 100%;
    margin-bottom: 0;
  }
  #about {
    height: auto;
  }
  #testimonials {
    height: fit-content;
  }
  #hero-4a {
    margin-bottom: 2rem;
  }
  .hero-8 {
    flex-wrap: wrap;
    gap: 1px;
  }
  .hero-8a {
    width: 100%;
  }
  .hero-8ai img {
    width: 100%;
  }
  #gallery {
    background-color: #1f1f1f;
    height: auto;
  }
  .hero-4 {
    grid-template-columns: 1fr;
  }
  .hero-4 img {
    width: 90%;
    margin-left: 1.1rem;
  }
  .hero-4a img {
    width: 80%;
  }
  .hero-3 {
    grid-template-columns: 1fr;
  }
  .menu-icon {
    display: block;
  }
  .nav-links {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #1f1f1f;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .nav-links li {
    padding: 15px 0;
  }

  .nav-links.active {
    display: flex;
  }
  .nav-bar img {
    position: relative;
    top: 20px;
    left: 100px;
  }
  #top-1a {
    font-size: 10px;
  }
  .hero-1a,
  .hero-1 {
    text-align: center;
  }
  .hero-9 {
    height: auto;
    min-height: fit-content;
    padding-bottom: 300px;
  }
}
/*tablet responsiveness*/
@media (min-width: 768px) and (max-width: 1023px)  {
  .hero-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-4 {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .hero-9{
    padding-bottom: 00px;
  }
   .nav-bar img {
    position: relative;
    top: 20px;
    left: 310px;
  }
  
}
